/* Import Lato font-familt */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    overflow-x: hidden; /* Makes it so nothing overflows browser width*/
    font-family: 'Lato', sans-serif;
    color: #808080;
}

/* Nav Scrolling Offset */
.offset:before {
    height: 60px;
    margin-top: -60px;
    content: "";
    display: block;
}

/* Extra Bootstrap Column Paddding */
[class*="col-"] {
    padding: 1rem;
}

/*========= NAVIGATION ========= */
.navbar {
    padding: .6rem 1rem;
    background-color: rgba(22, 31, 150, .9)!important;    
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    
}
.navbar-brand img {
    height: 2rem;
}

.navbar-brand {
    color: white;
    padding-top: 0.4rem;
}

.navbar-nav .nav-link{
    color: white;
    padding-top: 0.8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: gray;
}

.navbar-nav li {
    padding-right: 0.8rem;
}

.svg-inline--fa.fa-w-14 {
    color:white;
    font-size: 1.6rem;
}


/*=========== END NAVIGATION ============*/

/*============ LANDING PAGE =============*/
.home-inner {
    background-image:  url('SparkyImg/F16.png');
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.caption h2{
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.btn {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    font-size: .9rem;
    text-transform: uppercase;
}
/*=============== END LANDING PAGE ================*/

/*=============== ABOUT SECTION ===================*/
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 3rem 0;
}

.narrow {
    width: 85%;
    margin: 0 auto;
    padding-top: 1rem;
}

.about img {
    width: 100%;
    max-width: 8rem;
    padding-bottom: 2rem;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: 0.2rem;
    background-color: rgba(22, 31, 150, 1);
    margin: 0 auto 2rem;
}

.about h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.about p{
    font-size: 1.1rem;
}

/*=============== END ABOUT SECTION ===============*/

/*=============== SERVICES SECTION ================*/
.services {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1.5rem 0;
}


h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.thumbnail {
    padding: 0 0 2rem 0;
    border: none;
    border-radius: 0;
    margin: 0;
}

.thumbnail img {
    width: 100%;
    max-width: 28rem;
    height: 100%;
    margin: 0 0 .5rem 0;
    padding: 0;

}

.thumbnail p{
    font-size: 1.1rem;
}

/*=============== END SERVICES SECTION ============*/

/*=============== START CONTACT SECTION ============*/
.footer .row {
    background-color: rgba(22, 31, 150, .9);
    padding: 1rem 2rem 3rem;
    color: white;
}

.footer img {
    height: 2rem;
    margin: 1.5rem 0;
}

.footer a {
    color: white;
}

.footer .svg-inline--fa {
    margin: 1.2rem .5rem 0 0;
}

.footer .svg-inline--fa:hover {
    color: #808080!important;
}

.footer h3 {
    text-transform: uppercase;
    margin: 1.5rem 0;
}

/* Contact Form */
.form-group {
    margin-bottom: 1.3rem;
}

.form-control {
    border-radius: 0;
    border: .15rem solid #808080;
} 

.form-control:focus {
    border-radius: 0;
    border: .15rem solid gold;
}

input.btn {
    cursor: pointer;
}

hr.socket {
    width: 100%;
    color:white;
}

/*=============== END CONTACT SECTION ============*/

/*=============== MEDIA QUEIRIES ============*/
/* Medium (md) devices (tablets, 768px and down) */
@media (max-width: 768px) { 
    .caption {
        top: 30%;
    }
    .caption h3 {
        font-size: 1.8rem;
        padding-bottom: 1.2rem;
    }
}



/* Animation */
/*.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
   } */
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

